aniso8601==6.0.0
api==0.0.7
attrs==19.1.0
beautifulsoup4==4.7.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-RESTful==0.3.7
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
JsonForm==0.0.2
jsonschema==3.0.1
JsonSir==0.0.2
MarkupSafe==1.1.1
nose==1.3.7
pyrsistent==0.14.11
Python-EasyConfig==0.1.7
pytz==2018.9
PyYAML==5.1
requests==2.21.0
Resource==0.2.1
selenium==3.141.0
six==1.12.0
soupsieve==1.8
urllib3==1.24.1
Werkzeug==0.15.0
